/*Styling for table header cells*/
th {
  text-align: center;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;
}
/*Styling for table cells*/
td {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;  
}