/*Styling for table header cells*/
th {
  text-align: center;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;
}
/*Styling for links in left colum*/
.leftCol {
  text-align: center;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;  
}