body {
  padding-top: 70px;
}
body>div.container {
  width: 80%;
  margin: auto;
    resize: both;
    overflow: auto;
}
.slideshow {display:none; border:100px solid black; width: 100%;}

.main{
width: 80%;
padding: 10%;
padding-top: 5%;
margin: auto;
resize: both;
}
